<h1>List of cocktails</h1>

<ul>
<% @cocktails.each do |cocktail| %>
  <li><h2><%= link_to cocktail.name, cocktail_path(cocktail) %></h2></li>
<% end %>
</ul>

<%= cl_image_tag("j1crm1ex6jqbyramqifl",width: 400, height: 300, crop: :fill) %>
